/* color */
.bg-box {
    background-color: #8B9793;
}

.bg-white {
    background-color: #e8eae9;
}

.bg-icon-1 {
    background-color: #c5e86c;
}

.bg-icon-2 {
    background-color: #e0a6dc;
}

.bg-icon-3 {
    background-color: #bac5ba;
}

.bg-icon {
    background-color: #bac5bad6;
}

.bg-sec {
    background-color: #183028;

}

.bg-section-1 {
    background-color: #000000a1;

}
.bg-icon-eval{
    background-color: #f3f6ea;
}
.bg-box-3 {
    background-color: #929792;

}

.color-white {
    color: white;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.color-black {
    color: black;
}

.color-p {
    color: #cfcfcf;
}

.color-icon{
    color: #929792;
}

/*  */


/* padding and margin */
.m-0 {
    margin: 0;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}.m-40 {
    margin: 40px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-0 {
    margin-right: 0;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}
.mr-40 {
    margin-right: 40px;
}
.mr-50 {
    margin-right: 50px;
}

.ml-0 {
    margin-left: 0;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.p-0 {
    padding: 0;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-40 {
    padding: 40px;
}

.pt-0 {
    padding-top: 0;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pr-0 {
    padding-right: 0;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-0 {
    padding-left: 0;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-40 {
    padding-left: 40px;
}

/* Size font  width text*/
.width-icon {
    width: fit-content;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-20 {
    font-size: 20px;
}

.f-25 {
    font-size: 25px;
}

.f-30 {
    font-size: 30px;
}

.f-40 {
    font-size: 40px;
}

.f-50 {
    font-size: 50px;
}

.f-60 {
    font-size: 60px;
}

.f-b {
    font-weight: bold;
}

.f-w {
    font-weight: normal;
}

.line-he {
    line-height: 1.5;
}

.line-size {
    inline-size: 80%;
}

.inline-size-90 {
    inline-size: 90%;

}


/* align  */
.txt-center {
    text-align: center;
}

.txt-start {
    text-align: start;
}

.al-center {
    align-items: center;
}

.al-item {
    justify-content: center;
}

.al-space-between {
    justify-content: space-between;
}

.f-wrap {
    flex-wrap: wrap;
}

/* border  + border-radus */
.bor-1 {
    border: 1px solid #bac5bad6;
}

.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rad-50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* width and height box + image*/
.w-30 {
    width: 30%;
}

.width-img {
    width: 100%;
    object-fit: cover;
}

.height-img {
    height: 100%;
}

.w-25 {
    width: 25%;
}
.w-33 {
    width: 33%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.h-250 {
    height: 250px;
}

/* dispaly */
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

/* Start components */
.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.flex-column {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.d-grid-50 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 10%;
}

.gap-5 {
    gap: 5px;
}

.gap-15 {
    gap: 15px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.btn-box {
    background-color: #f5deb32b;
    color: white;
    width: fit-content;
    padding: 10px 12px;
    border-radius: 10px;
}

.image-prof {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(159, 159, 159);
    object-fit: cover;
    margin: 0 0 24px;
    position: relative;

}

.image {
    width: 100%;
    height: 100%;
    object-position: 2px 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.active{
    position: absolute;
    bottom: -2px;
    left: 12px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #183028;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* end components */